body {
    background-image: url(relax.jpeg);
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
  
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: tomato;
    border: dotted whitesmoke;
}
  
legend {
    margin: auto;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

label {
        padding-bottom: 8px;
        text-transform: uppercase;
        text-decoration: underline;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(104, 24, 104);
        font-size: 20px;
}

fieldset {
    border: dashed 8px black;
    width: 1000px;
    margin-bottom: 90px;
    padding-bottom: 40px;
    text-transform: capitalize;
    font-style:italic;
    font-size: 10px;    
    color: royalblue;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
}

#field {
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(47, 0, 255);
}
