body {
    background-image: url(Wood.jpeg);
    color: blue;
}
  
#Header {
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8e41d5;
    text-shadow: 3px 3px;
    text-transform: uppercase;
    text-decoration: overline;
}

#Left Nav {
        border: solid 8px black;
        width: 400px;
        float: left;
        text-align: center;
        padding-bottom: 8px;
        background-color: #8e41d5;
        text-transform: lowercase;
        text-decoration: underline;
}

#Content {
    border: solid 8px black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    background-color: #8e41d5;
    text-transform: capitalize;
    font-style:italic;
    font-size: 10px;    
}

#Footer {
    border: solid 8px black;
    text-align: center;
    background-color: #8e41d5;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

h1{
    color: #FFBC00;
    font-size: 60px;
    font-family: "Passion One";
}

h3 {
    color: #FFBC00;
    font-family: "Passion One";
    font-size: 40px;
    margin-bottom: 0px;
}

p {
    color: white;
    font-family: "Arial";
    font-weight: bold;
}


 